/* Fonts For My Website */
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,600;0,700;1,400&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap');
/* 
font-family: 'JetBrains Mono', monospace;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;            */

/* BASIC CSS RULE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
:root{
        --primary-color: #27282c;
        --primary-color2: #3498db;
        --secondary-color: #2ecc71;
        --text-color: #333;
        --background-color: #f5f5f5;
        --border-color: #ccc;
        --link-color: #007bff;
        --link-hover-color: #0056b3;
        --button-background-color: #007bff;
        --button-text-color: #fff;
        --button-hover-background-color: #0056b3;
        --button-hover-text-color: #fff;
            /* Add more variables as needed */
     
}
html,body{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
   
}
/* CSS for Header Section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    background-color: #27282c;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3) ;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    margin-right: 15px;
    align-items: center;
    font-size: 2rem;
  
}
.nav-items a{
    font-family:'Poppins', monospace; ;
    color: grey;
    align-items: center;
    text-align: center;
   
}
.nav-items a:hover{
    color: #fff;
}
.material-symbols-outlined{
    font-size: 2rem;
    align-items: center;
}
#menu-btn{
    visibility: hidden;
}
.logo img{
    width: auto;
    height: 128px;
}
/* Down Nav Section */
.down-nav-section{
    width: 100%;
    height :8rem;
    background-color:var(--primary-color) ;
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 15rem;
    place-items: center;
    & .sec1{
        display: flex;
        gap: 1.9rem;
        align-items: start;
        
    
        }
        & h3{
            font-size: 2.01rem;
            color: #fff;
            cursor: pointer;
            
        }
 }
.sec1 a{
    font-size: 1.30rem;
    cursor: pointer;
    color:whitesmoke;
    background-color:#3d3e42;
    padding: 0.5rem;
    border-radius: 2px;
    padding-left: 1rem;
}
.sec2 ul{
    display: flex;
    justify-content: end;
    gap: 2.5rem;
   align-items: center;
   padding-right: 0;
  
  
}
.sec2 ul li a{
    font-size:  1.75rem;
    color: grey;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
}
.sec2 ul li a:hover {
    color: white;
}
#price-btn a{
    background-color:var(--primary-color);
    width: 5rem;
    height: auto;
    color:white;
    padding:0.3rem 1.5rem 0.3rem  1.5rem ;
text-align: center;
border: 1px solid gray;
border-radius: 15px;
font-family: "Poppins", sans-serif;
}
#price-btn a:hover{
    background-color:var(--text-color);
}
#download-btn a{
    background-color:#4ca6ff;
    width: 15rem;
    height: auto;
    color:white;
    padding:0.3rem 1.5rem 0.3rem  1.5rem ;
text-align: center;
border: 1px solid gray;
border-radius: 15px;
font-family: "Poppins", sans-serif;
}
#download-btn a:hover{
    background-color:  #087cfa;
}
.drop-down-menu span{
    font-size: 3rem;
    color:var(--button-text-color);
    visibility: hidden;
}

/* Hero Sec 1 */
.hero-sec1{
    position: relative;
    width: 100%;
    height: 90vh;
    background: black;
    background-image: url(./Images/back-ground.jpg);
    background-size: cover;
}
.hero-sec2{
    padding-top:5rem;
    width: 100%;
    height: 20rem;
    background-color: black;
    display: flex;
    justify-content: start;
    gap: 3.5rem;
    & p{
        font-size: 1.5rem;
        font-family: "Oxygen",sans-serif;
        color:grey;
        margin-bottom: 1.0rem;
    }
    & p a{
        color: white;
        
        &:hover{
            text-decoration: underline;
            color: var(--button-hover-text-color);

        }
    }
}
.download-btn {
    width: 13rem;
    height: 4.5rem;
    background-color:#4ca6ff;
    color:white;
    padding:0.9rem 1.5rem 0.3rem  1.5rem ;
border: 1px solid gray;
border-radius: 20px;
font-family: "Poppins", sans-serif;
cursor: pointer;
transition: all .3s ease-in-out;
font-size: 1.5rem;
text-align: center;
margin-left: 4.5rem;
&:hover{
    box-shadow: 0 8px 16px 0 rgba(76,166,255,.6), 0 3px 6;
    background-color:  #087cfa;

}
}
/* Hero image Section */
.hero-image-section{
    width: 100%;
    height:120vh;
    background-color: black;
    display: flex;
    justify-content: center;
    
    
    & img{
        width: 95%;
        height: 80%;

    }
}
/* HEADING SECTION */
.heading{
    width: 100%;
    height: 20rem;
    background-color: black;
    & h2{
        font-family: 'Roboto', Times, serif;
        font-size: 7.5rem;
        text-align: left;
        color: white;
        margin-left: 5rem;
    }
    & .secod-heading{
        color: #087cfa;
    }
}
/* PROGRAMMING ICON SECTION */
.container-class{
    width: 100%;
    height: 70vh;
    background:black;
    position: relative;
    & img{
        width: 40px;
        height: auto;
    }
}

.inner-container{
    width: 95%;
    height: 60vh;
    background-color:rgb(7 38 77);
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 5.5rem;
    padding: 2.5rem 2.0rem;
    border-radius: 20px;
    position: absolute;
    top: 8%;
    box-shadow: 41px 10px 30px 0px rgba(5,0,0,0.1);
   
    margin-left: 3rem;
    & .text-box{
        padding-top: 1.2rem;
    }
    & h3{
        font-size: 4.8rem;
        font-family: 900;
        font-family: "Roboto",sans-serif;
        color: white;
    }
    & p{
        font-size: 2.2rem;
        font-family: "Oxygen",sans-serif;
        color: #fff;
        text-wrap: wrap;
        margin-top: 3rem;
    }

}
.programming-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,auto) ;
    gap: 4.5rem;
    & .item1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self:center;
        gap: 1.2rem;
        height: 12rem;
        width: 9rem;
        background-color:black;
        border-radius: 10px;
        & h4{
            color: white;
            font-size: 1.5rem;
            font-family: "Poppins",sans-serif;
            font-weight: 500;
        }
       
    }
}
/* New Section Starts Here */
.content-section{
    font-size: 2rem;
    width: 100%;
    height: 60vh;
    background-color:black;
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 0 2rem;
    & .text-box{
        width: 60%;
        height: 55vh;
        background-color:rgb(7 38 77) ;
        padding: 2rem 2rem;
        border-radius: 20px;
        & h2{
            font-size: 3rem;
            font-family: 900;
            font-family: "Roboto",sans-serif;
            color: white;
            margin-bottom: 2.5rem;
           

        }
        & span{
            color: #fff;
            font-size: 5.5rem;
        }
        & p{
            font-size: 1.7rem;
            font-family: "Oxygen",sans-serif;
            color: #fff;
            text-wrap: wrap;
            line-height: 1.5;

        }
    }
}
.text-btn-bar{
    width: 100%;
    height: 30vh;
    background-color:black;
    & h1{
        color: white;
        font-size: 3.5rem;
        font-family: "Poppins",sans-serif;
        font-weight: 500;

    }
    & a{
        color: white;
        font-size: 2rem;
        font-family: "Poppins",sans-serif;
        font-weight: 500;
        border-radius: 20px;
       background-color: #19191c;
       width: 28rem;
       height: 5.5rem;
       text-align: center;
      padding: 1rem 1.2rem;
      border: 1px solid gray;
      &:hover{
        background-color: #27282c;
      }
    }
    & .div{
        width: 95%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15rem;
        background-color: #19191c;
        margin: auto;
        padding: 0.5rem 2rem;
        border-radius: 25px;
       


}
}
    
    





    

